<mat-card *ngIf="hero">
  <mat-card-header>
    <mat-card-title>{{ hero.name | truncate: 18 }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{hero.thumbnail.path+'.jpg'}}" [alt]="hero.name" style="{{'height: 300px'}}">
  <mat-card-content class="my-2">
    <mat-chip-listbox>
      @for (story of hero.series.items | slice:0:3; track story.name) {
        <mat-chip>
          {{ story.name | truncate:20 }}
        </mat-chip>
      }
    </mat-chip-listbox>
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-actions>

    <button mat-button
            mat-raised
            color="primary"
            [routerLink]="['/heroes/edit', hero.id ]">
      <mat-icon>edit</mat-icon>
      Edit
    </button>

    <span class="spacer"></span>

    <button mat-button
            mat-raised
            [routerLink]="['/heroes', hero.id ]">
      <mat-icon>more_horiz</mat-icon>
      More
    </button>

  </mat-card-actions>
</mat-card>
